.chart-line{width:100%}

.chart-bar{width:100%}

.echarts-home .chart{width:100%;padding-top:20px}.echarts-home .chart .item{-webkit-box-shadow:rgba(0,0,0,0.1) 0px 2px 6px 0px;box-shadow:rgba(0,0,0,0.1) 0px 2px 6px 0px;background-color:#fff;border-radius:10px;padding:15px}.echarts-home .chart .chart-left{margin-right:20px;margin-bottom:20px;overflow:hidden}.echarts-home .chart .chart-left .line{width:100% !important;height:380px !important}.echarts-home .chart .chart-left .bar{width:100% !important;height:380px !important}.echarts-home .chart .chart-right{margin-bottom:20px}.echarts-home .chart .chart-right .ring{width:22vw !important;height:22vw !important}

